<!-- Todo : design -->
<!-- datepicker -->
<form method="post" action="">
  {{ dtf_form.hidden_tag() }} 
  <div>
    {{ dtf_form.dt_start.label }}
    {{ dtf_form.dt_start(class="dtpick", autocomplete="off") }}
  </div>
  <div>
    {{ dtf_form.dt_finish.label }}
    {{ dtf_form.dt_finish(class="dtpick", autocomplete="off") }}
  </div>
  <div>
    {{ dtf_form.submit_register(class_= "submit_button") }}
  </div>
</form>

{% if message :%}
<p> From {{date_start}} to {{date_finish}}</p>
<p> {{message}} </p>
{% endif %}


