{% if op_slot :%}
<div>
  <h3>Your opened schedules</h3>
  <form method="post" action="">
    {% for item in op_slot %}
  <li>From {{item.start_at}} to {{item.finish_at}} / with {{ item.user_booking_slot }}<i class="fas fa-trash" id='slot_{{item.id}}' onclick="deleteSlot('{{item.id}}')"></i></li>
  {% endfor %}
  </form>
</div>
{% endif %}

{% if bk_slot :%}
<div>
  <h3>Your booked schedule</h3>
    {% for item in bk_slot %}
  <li>From {{item.start_at}} to {{item.finish_at}} / with {{ item.user_opening_slot }}</li>
  {% endfor %}
</div>
{% endif %}



