<h3>To Do</h3>
<ul>
  <li>List the appointment</li>
  <li>List the request for appointment</li>
</ul>

{% if op_slot :%}
<h3>Your open-slot</h3>
{% for item in op_slot %}
<li>From {{item.start_at}} to {{item.finish_at}} / with {{ item.user_booking_slot }}<i class="fas fa-trash" id='slot_{{loop.index}}' onclick="deleteSlot('slot_{{loop.index}}')"></i></li>
{% endfor %}
{% endif %}


<!-- datepicker -->
<h3>Open your slot</h3>
<form method="post" action="">
  {{ form_start.hidden_tag() }} 
  {{ form_start.dt_start(class="dtpick") }}
  {{ form_finish.hidden_tag() }} 
  {{ form_finish.dt_finish(class="dtpick") }}
  <button type="submit">submit</button>
</form>

{% if message :%}
<p> From {{date_start}} to {{date_finish}}</p>
<p> {{message}} </p>
{% endif %}


