<h1>To Do</h1>
<ul>
  <li>List the appointment</li>
  <li>List the request for appointment</li>
</ul>

<h1 style="color: violet">Open a slot in the calender</h1>

<form action="/" method="POST">
  <input type="text" class="datetimepicker" name="start" />
  <input type="text" class="datetimepicker" name="end" />
  <script type="text/javascript">
    $(".datetimepicker").each(function () {
      $(this).datetimepicker();
    });
  </script>
  <input type="submit" value="submit" />
</form>

{% if start :%}
<h2>From {{start}} to {{end}}</h2>
{% endif %}
